@import './header/';
@import './main/';
@import './footer/';

.app {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
  margin: 0 auto;
  width: $width-full;
  @include grid(100%, auto);
  grid-template-areas: 'header' 'main-content' 'store' 'footer';
  position: relative;
}

.slice {
  grid-area: slice;
}
