//font
$noto-font: 'Noto Sans', sans-serif;
$caveat-font: 'Caveat Brush', sans-serif;
//background color
$bg-primary: #f8cc5d;
$bg-light-grey: #f8f4f9;
$bg-dark-grey: #45565e;
$bg-white: #ffffff;

//button color
$button-primary: #4eb3e3;

//text color
$text-black: #1f343e;
$text-dark-grey: #434a54;
$text-light-grey: #6d7a80;
$text-blue: #4eb3e3;
$text-error: #ed6f82;

//border
$border-light: #e8eaeb;
$border-dark: #45565e;

//width
$width-full: 100%;
$max-width: 112rem;
